*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("vector-AUG-2020-59_generated.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 90%;
    max-width: 400;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(25,255,255,0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);


}
.card img{
    width: 200px;
    border-radius: 250%;

}
.card h2{
    font-size: 20px;
    color: white;
    font-weight: 900;
}
.card p{
    font-size: 40px;
    font-weight: 900;
}
.card .link img{
    width: 100px;
    border-radius: 50%;
    padding: 50px 5px;
    margin: 30px 10px;
    transform: 0.5s;

}
.btn{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: 100;
    background: #fff;
    border-radius: 20px;
    margin: 30px 0 10px;

}
